
<div class="site-main" id="sTop">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social-icons">
                        <li><a class="yelp hb-xs-margin" href="https://www.yelp.com/biz/dfw-air-conditioning-experts-arlington"><span class="hb hb-xs spin hb-yelp"><i class="fa fa-yelp" aria-hidden="true"></i></span></a></li>
                        <li><a class="google hb-xs-margin" href="https://g.page/dfw-air-conditioning-experts"><span class="hb hb-xs spin hb-google"><i class="fa fa-google" aria-hidden="true"></i></span></a></li>
                        <li><a class="facebook hb-xs-margin" href="https://www.facebook.com/DFW-Air-Conditioning-Experts-102664111752057"><span class="hb hb-xs spin hb-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                        <li><a class="instagram hb-xs-margin" href="https://www.instagram.com/dfwairconditioningexperts/"><span class="hb hb-xs spin hb-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                        <li><a class="twitter hb-xs-margin" href="https://twitter.com/air_dfw"><span class="hb hb-xs spin hb-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <div class="main-header">
            <div class="container">
                <div id="menu-wrapper">
                    <div class="row">
                        <div class="logo-wrapper col-md-2 col-sm-2">
                            <h1>
                                <a href="#" id="companyname" class="fancyFont">
                                    DFW&nbsp;Air&nbsp;Conditioning&nbsp;Experts
                                    @*Reparacion&nbsp;de&nbsp;AC*@
                                    @*<div id="LogoText1">DFW&nbsp;AC&nbsp;Experts</div>
                                        <div id="LogoText2">DFW&nbsp;AIR&nbsp;CONDITIONING&nbsp;EXPERTS</div>*@
                                </a>
                            </h1>
                        </div> <!-- /.logo-wrapper -->
                        <div class="col-md-10 col-sm-10 main-menu text-right">
                            <div class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></div>
                            <ul class="menu-first">
                                <li class="active"><a href="#">Casa</a></li>
                                @*<li><a href="#services">Nosotros</a></li>
                                    <li><a href="#portfolio">Servicios</a></li>
                                    <li><a href="#testimonials">Críticas</a></li>*@
                                @*<li><a href="#our-team">Personal</a></li>*@
                                @*<li><a href="#templatemo_partners">Partners</a></li>*@
                                <li><a href="Index">English</a></li>
                                <li><a href="#contact">Contacto</a></li>
                                <li><a onclick="window.open('tel:4694764464');" href="#contact">(469) 476-4464</a></li>
                            </ul>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.row -->
                </div> <!-- /#menu-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
    </div> <!-- /.site-header -->
    <div class="site-slider">
        <div class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="overlay"></div>
                        <img src="/images/headerslider/ACRepair_Installation_1.png" alt="Aire Acondicionado Reparacion">
                        <div class="slider-caption visible-md visible-lg top-menu">
                            <h2>Aire Acondicionado Reparacion</h2>
                            <p>Cotizaciónes Gratis ($0 Cargo Por Servicio), Servicios Baratos, y No Recargos por Maquinaria</p>
                            @*<a href="#services" class="slider-btn">Nosotros</a>*@
                        </div>
                    </li>
                    <li>
                        <div class="overlay"></div>
                        <img src="/images/headerslider/ACRepair_Installation_3.png" alt="Reparacion de Aire Acondicionado de Casa">
                        <div class="slider-caption visible-md visible-lg top-menu">
                            <h2>Reparacion de Aire Acondicionado de Casa</h2>
                            <p>Técnicos Honestos, Sin Presión, y Sin Trampas</p>
                            @*<a href="#services" class="slider-btn">Nosotros</a>*@
                        </div>
                    </li>
                    <li>
                        <div class="overlay"></div>
                        <img src="/images/headerslider/ACRepair_Installation_4.png" alt="Reparacion de Aire Acondicionado Cerca de Mi">
                        <div class="slider-caption visible-md visible-lg top-menu">
                            <h2>Reparacion de Aire Acondicionado Cerca de Mi</h2>
                            <p>Servicios en todo el metroplex de Dallas/Fort Worth</p>
                            @*<a href="#services" class="slider-btn">Nosotros</a>*@
                        </div>
                    </li>
                    <li>
                        <div class="overlay"></div>
                        <img src="/images/headerslider/ACRepair_Installation_2.png" alt="Aire Acondicionado Reparacion">
                        <div class="slider-caption visible-md visible-lg top-menu">
                            <h2>Aire Acondicionado Reparacion</h2>
                            <p>Trabajos de Alta Calidad</p>
                            @*<a href="#portfolio" class="slider-btn">Servicios</a>*@
                        </div>
                    </li>
                    @*<li>
                            <div class="overlay"></div>
                            <img src="/images/headerslider/ac_1_cropped.png" alt="">
                            <div class="slider-caption visible-md visible-lg top-menu">
                                <h2>Precios Bajos</h2>
                                <p>Cotizaciónes Gratis ($0 Cargo Por Servicio), No Recargos por Maquinaria</p>
                                <a href="#services" class="slider-btn">Nosotros</a>
                            </div>
                        </li>
                        <li>
                            <div class="overlay"></div>
                            <img src="/images/headerslider/ac_4_cropped.png" alt="">
                            <div class="slider-caption visible-md visible-lg top-menu">
                                <h2>Personal Amistoso Y Profesional</h2>
                                <p>Técnicos Honestos, Sin Presión</p>
                                <a href="#services" class="slider-btn">Nosotros</a>
                            </div>
                        </li>
                        <li>
                            <div class="overlay"></div>
                            <img src="/images/headerslider/ac_8_cropped.png" alt="">
                            <div class="slider-caption visible-md visible-lg top-menu">
                                <h2>Técnicos Honestos y Profesionales</h2>
                                <p>Sin Trampas</p>
                                <a href="#services" class="slider-btn">Nosotros</a>
                            </div>
                        </li>
                        <li>
                            <div class="overlay"></div>
                            <img src="/images/headerslider/ac_9_cropped.png" alt="">
                            <div class="slider-caption visible-md visible-lg top-menu">
                                <h2>Servicio Profesional</h2>
                                <p>Trabajos de Alta Calidad</p>
                                <a href="#portfolio" class="slider-btn">Servicios</a>
                            </div>
                        </li>*@
                </ul>
            </div> <!-- /.flexslider -->
        </div> <!-- /.slider -->
    </div> <!-- /.site-slider -->
</div> <!-- /.site-main -->


<div class="content-section" id="social-media-reviews">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center media">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-765eda9f-a4d8-4045-a9ef-682b468dcbaf"></div>
            </div>
        </div>
    </div>
</div>


<div class="content-section" id="services">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                @*<div style="width:100%;">
                        <div style="position: absolute; right: 0;">
                            <a href="Index" class="btn btn-primary js-btn-hover" id="Espanol">English</a>
                        </div>
                    </div>*@
                @*<h2>DFW Air Conditioning Experts</h2>*@
                <p>
                    Tecnicos expertos de <strong>aire acondicionado reparacion e instalacion</strong> en la area de Dallas/Fort Worth.  Reparaciones e instalaciones de casa o negocio, lo que necesite.
                </p>
                @*<p>Tecnicos expertos en calefacción, ventilación y aire acondicionado en la area de Dallas/Fort Worth. Orgullosos de nuestros resultados!</p>*@
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-3 col-sm-6 service-item-container">
                <div class="service-item" id="service-1">
                    <div class="service-icon">
                        <i class="fa fa-usd"></i>
                    </div> <!-- /.service-icon -->
                    <div class="service-content">
                        <div class="inner-service">
                            <div class="clear">
                                <h3>Precios Bajos</h3>
                            </div>
                            <ul>
                                <li><b>Cotizaciónes Gratis</b> ($0 Cargo Por Servicio).</li>
                                <li><b>No Recargos</b> por Maquinaria, tu pagas lo que nosotros pagamos.</li>
                                <li><b>Maquinaria Confiable</b> de fabricantes confiables.</li>
                                <li><b>No Cambiamos el Precio</b>.</li>
                            </ul>
                        </div>
                    </div> <!-- /.service-content -->
                </div> <!-- /#service-1 -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 service-item-container">
                <div class="service-item" id="service-2">
                    <div class="service-icon">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </div> <!-- /.service-icon -->
                    <div class="service-content">
                        <div class="inner-service">
                            <div class="clear">
                                <h3>Personal Amistoso</h3>
                            </div>
                            <ul>
                                <li>Personal <b>Respetuosos</b> y <b>Cortés</b>.</li>
                                @*<li>Técnicos <b>Honestos</b>!</li>*@
                                <li>Respuestas <b>Rapidas</b>.</li>
                                <li><b>Sin Presión</b>.</li>
                                <li><b>Sin Vendedores</b>.</li>
                            </ul>
                        </div>
                    </div> <!-- /.service-content -->
                </div> <!-- /#service-1 -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 service-item-container">
                <div class="service-item" id="service-3">
                    <div class="service-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div> <!-- /.service-icon -->
                    <div class="service-content">
                        <div class="inner-service">
                            <div class="clear">
                                <h3>Técnicos Honestos</h3>
                            </div>
                            <ul>
                                <li><b>Sin Trampas</b>.</li>
                                <li><b>Sin Mentiras</b>.</li>
                                <li><b>Extendiendo La Vida de Su Systema</b> es nuestra preocupación.</li>
                            </ul>
                        </div>
                    </div> <!-- /.service-content -->
                </div> <!-- /#service-1 -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 service-item-container">
                <div class="service-item" id="service-4">
                    <div class="service-icon">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div> <!-- /.service-icon -->
                    <div class="service-content">
                        <div class="inner-service">
                            <div class="clear">
                                <h3>Le Ense&ntilde;amos</h3>
                            </div>
                            <ul>
                                <li><b>Extienda la vida de su systema</b> siguiendo nuestra lista de normas. Le ense&ntilde;amos paso por paso.</li>
                            </ul>
                        </div>
                    </div> <!-- /.service-content -->
                </div> <!-- /#service-1 -->
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#services -->


<div class="content-section media" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                @*<div style="width:100%;">
                        <div style="position: absolute; right: 0;">
                            <a href="Index" class="btn btn-primary js-btn-hover" id="Espanol">English</a>
                        </div>
                    </div>*@
                @*<h2>Nuestro Trabajo</h2>*@
                <p>
                    Tecnicos expertos de <strong>aire acondicionado reparacion e instalacion</strong> en la area de Dallas/Fort Worth.
                    <br />
                    Reparaciones e instalaciones de casa o negocio.
                </p>
                @*<p>Tecnicos expertos en calefacción, ventilación y aire acondicionado en la area de Dallas/Fort Worth. Orgullosos de nuestros resultados!</p>*@
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->
    </div>
    <div class="container">
        <div class="row">
            <div class="slider-item-header">&nbsp;</div>
        </div>
        <div class="row">
            <div class="slider-container">
                <div class="controls-slider" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
                    <div class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                        <div>
                            <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="my-slider">

                    <div class="slider-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img class="tns-lazy-img" data-src="/images/services/FreeQuote.png" alt="Cotizaciónes Gratis">
                                <div class="portfolio-overlay">
                                    <div class="clear">
                                        <h3>Cotizaciónes Gratis</h3>
                                    </div>
                                    <div class="clear">
                                        <p>
                                            Inspectamos su systema, buscamos problemas, y le damos un análisis exhaustivo, todo <strong><i>gratis</i></strong>.
                                        </p>
                                    </div>
                                    <div class="clear">
                                        <a href="/images/services/FreeQuote.png" data-rel="lightbox" class="expand expand2">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.portfolio-overlay -->
                            </div> <!-- /.portfolio-thumb -->
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img class="tns-lazy-img" data-src="/images/services/ACRepair.png" alt="Aire Acondicionado Reparacion">
                                <div class="portfolio-overlay">
                                    <div class="clear">
                                        <h3>Aire Acondicionado Reparacion</h3>
                                    </div>
                                    <div class="clear">
                                        <p>En lugar de instalaciones, las <strong>reparaciones</strong> son la manera mejor de ahorrar dinero.</p>
                                    </div>
                                    <div class="clear">
                                        <a href="/images/services/ACRepair.png" data-rel="lightbox" class="expand expand2">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.portfolio-overlay -->
                            </div> <!-- /.portfolio-thumb -->
                        </div> <!-- /.portfolio-item -->
                    </div>

                    <div class="slider-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img class="tns-lazy-img" data-src="/images/services/ACPartialInstallation.png" alt="Aire Acondicionado Instalacion">
                                <div class="portfolio-overlay">
                                    <div class="clear">
                                        <h3>Aire Acondicionado Instalacion</h3>
                                    </div>
                                    <div class="clear">
                                        <p>Se pueden hacer <strong>instalaciones parciales</strong> para que se ahorre dinero.</p>
                                    </div>
                                    <div class="clear">
                                        <a href="/images/services/ACPartialInstallation.png" data-rel="lightbox" class="expand expand2">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.portfolio-overlay -->
                            </div> <!-- /.portfolio-thumb -->
                        </div> <!-- /.portfolio-item -->
                    </div>

                    <div class="slider-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img class="tns-lazy-img" data-src="/images/services/ACNewInstallation.png" alt="Aire Acondicionado Instalacion">
                                <div class="portfolio-overlay">
                                    <div class="clear">
                                        <h3>Aire Acondicionado Instalacion</h3>
                                    </div>
                                    <div class="clear">
                                        <p><strong>Instalaciones completas y nuevas</strong>. Descanse seguro con garantías en el labor y equipo!</p>
                                    </div>
                                    <div class="clear">
                                        <a href="/images/services/ACNewInstallation.png" data-rel="lightbox" class="expand expand2">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.portfolio-overlay -->
                            </div> <!-- /.portfolio-thumb -->
                        </div> <!-- /.portfolio-item -->
                    </div>

                </div>
            </div>

        </div>
    </div>
    @*<div class="container">
        <div class="row">
            <div class="my-slider">
                <div class="slider-item">
                    <div class="card">
                        <img src="/images/services/FreeQuote.png" alt="Cotizaciónes Gratis">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="card">
                        <img src="/images/services/ACRepair.png" alt="Aire Acondicionado Reparacion">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="card">
                        <img src="/images/services/ACPartialInstallation.png" alt="Aire Acondicionado Instalacion">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="card">
                        <img src="/images/services/ACNewInstallation.png" alt="Aire Acondicionado Instalacion">
                    </div>
                </div>
            </div>
        </div>*@
    <!--<div class="row">
        <div class="heading-section col-md-12 text-center">-->
    @*<h2>Servicios</h2>*@
    <!--<p>
            Tambien tenemos servicios de emergencia, donde hacemos reparacion de aire acondicionado de casa, 24 horas al dia.
            <br />
            Por otra parte, se requiere mas de 24 horas normalmente para las instalaciones parciales y completas porque se necesita que adquirir la maquinaria.
        </p>
    </div>-->
    <!-- /.heading-section -->
    <!--</div>--> <!-- /.row -->
    <!--<div class="row">
        <div class="portfolio-item col-md-3 col-sm-6">
            <div class="portfolio-thumb">
                <img src="/images/services/FreeQuote.png" alt="Cotizaciónes Gratis">
                <div class="portfolio-overlay">
                    <div class="clear">
                        <h3>Cotizaciónes Gratis</h3>
                    </div>
                    <div class="clear">
                        <p>
                            Inspectamos su systema, buscamos problemas, y le damos un análisis exhaustivo, todo <strong><i>gratis</i></strong>.
                        </p>
                    </div>
                    <div class="clear">
                        <a href="/images/services/FreeQuote.png" data-rel="lightbox" class="expand">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>-->
    <!-- /.portfolio-overlay -->
    <!--</div>--> <!-- /.portfolio-thumb -->
    <!--</div>--> <!-- /.portfolio-item -->
    <!--<div class="portfolio-item col-md-3 col-sm-6">
        <div class="portfolio-thumb">
            <img src="/images/services/ACRepair.png" alt="Aire Acondicionado Reparacion">
            <div class="portfolio-overlay">
                <div class="clear">
                    <h3>Aire Acondicionado Reparacion</h3>
                </div>
                <div class="clear">
                    <p>En lugar de instalaciones, las <strong>reparaciones</strong> son la manera mejor de ahorrar dinero.</p>
                </div>
                <div class="clear">
                    <a href="/images/services/ACRepair.png" data-rel="lightbox" class="expand">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>-->
    <!-- /.portfolio-overlay -->
    <!--</div>--> <!-- /.portfolio-thumb -->
    <!--</div>--> <!-- /.portfolio-item -->
    <!--<div class="portfolio-item col-md-3 col-sm-6">
        <div class="portfolio-thumb">
            <img src="/images/services/ACPartialInstallation.png" alt="Aire Acondicionado Instalacion">
            <div class="portfolio-overlay">
                <div class="clear">
                    <h3>
                        Aire Acondicionado Instalacion
                    </h3>
                </div>
                <div class="clear">
                    <p>Se pueden hacer <strong>instalaciones parciales</strong> para que se ahorre dinero.</p>
                </div>
                <div class="clear">
                    <a href="/images/services/ACPartialInstallation.png" data-rel="lightbox" class="expand">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>-->
    <!-- /.portfolio-overlay -->
    <!--</div>--> <!-- /.portfolio-thumb -->
    <!--</div>--> <!-- /.portfolio-item -->
    <!--<div class="portfolio-item col-md-3 col-sm-6">
        <div class="portfolio-thumb">
            <img src="/images/services/ACNewInstallation.png" alt="Aire Acondicionado Instalacion">
            <div class="portfolio-overlay">
                <div class="clear">
                    <h3>Aire Acondicionado Instalacion</h3>
                </div>
                <div class="clear">
                    <p><strong>Instalaciones completas y nuevas</strong>. Descanse seguro con garantías en el labor y equipo!</p>
                </div>
                <div class="clear">
                    <a href="/images/services/ACNewInstallation.png" data-rel="lightbox" class="expand">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>-->
    <!-- /.portfolio-overlay -->
    <!--</div>--> <!-- /.portfolio-thumb -->
    <!--</div>--> <!-- /.portfolio-item -->
    <!--</div>--> <!-- /.row -->
@*</div>*@ <!-- /.container -->
</div> <!-- /#portfolio -->


<!--Our Client Start-->
<!--<div class="content-section templatemo_reasonbg" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="heading-section-2 col-md-12 text-center">
                <h2>Críticas</h2>
            </div>
        </div>
        <div class="col-xs-11 templatemo_col12 templatemo_clientwrapper">
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">"Extremely low prices.  Love it!"  - Phillip</p>
                <img src="/images/client/1.jpg" alt="Aire Acondicionado Reparacion con Buenas Criticas" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft1"></div>
            </div>
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">"I will never use another company for my AC repairs.  Miguel, the technician, had superb people skills."  - Marisa</p>
                <img src="/images/client/2.jpg" alt="Aire Acondicionado Reparacion con Buenas Criticas" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft2"></div>
            </div>
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">"As a teacher and mentor, I'm extremely busy.  DFW Air Conditioning Experts worked around my busy schedule.  Thank you."  - Mr. Ramirez</p>-->
@*Great work.  Fast workers.  No games.*@
<!--<img src="/images/client/3.png" alt="Aire Acondicionado Reparacion con Buenas Criticas" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft3"></div>
            </div>
            <div class="templatemo_clientimage next templatemo_marginleft50">
                <p class="templatemo_clientdes">"Thank you for replacing my furnace.  You charged me less than half the price of these other companies I talked to."  - Claudia</p>
                <img src="/images/client/4.jpg" alt="Aire Acondicionado Reparacion con Buenas Criticas" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft4"></div>
            </div>
            <div class="templatemo_clientimage next">
                <p class="templatemo_clientdes">"Me dejaron todo limpiesito y tienen precios BIEN bajos.  Clean work and really low prices."  - Vicente</p>
                <img src="/images/client/5.jpg" alt="Aire Acondicionado Reparacion con Buenas Criticas" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft5"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>-->
<!--Our Client End-->
@*<div class="content-section" id="our-team">
        <div class="container">
            <div class="row">
                <div class="heading-section col-md-12 text-center">
                    <h2>Personal</h2>
                    <p>Si Se Puede</p>
                </div> <!-- /.heading-section -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="team-member col-md-3 col-sm-6">
                    <div class="member-thumb">
                        <img src="/images/staff/staffcomingsoon.png" alt="Aire Acondicionado Reparacion con Tecnicos Honestos">
                        <div class="team-overlay">
                            <h3>Jason</h3>
                            <span>Tecnico Principal</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div> <!-- /.team-overlay -->
                    </div> <!-- /.member-thumb -->
                </div> <!-- /.team-member -->
                <div class="team-member col-md-3 col-sm-6">
                    <div class="member-thumb">
                        <img src="/images/staff/staffcomingsoon.png" alt="Aire Acondicionado Reparacion con Tecnicos Honestos">
                        <div class="team-overlay">
                            <h3>Michael</h3>
                            <span>Tecnico Principal</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div> <!-- /.team-overlay -->
                    </div> <!-- /.member-thumb -->
                </div> <!-- /.team-member -->
                <div class="team-member col-md-3 col-sm-6">
                    <div class="member-thumb">
                        <img src="/images/staff/staffcomingsoon.png" alt="Aire Acondicionado Reparacion con Tecnicos Honestos">
                        <div class="team-overlay">
                            <h3>Sara</h3>
                            <span>Representante de Servicio al Cliente</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div> <!-- /.team-overlay -->
                    </div> <!-- /.member-thumb -->
                </div> <!-- /.team-member -->
                <div class="team-member col-md-3 col-sm-6">
                    <div class="member-thumb">
                        <img src="/images/staff/staffcomingsoon.png" alt="Aire Acondicionado Reparacion con Tecnicos Honestos">
                        <div class="team-overlay">
                            <h3>William</h3>
                            <span>Gerente</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div> <!-- /.team-overlay -->
                    </div> <!-- /.member-thumb -->
                </div> <!-- /.team-member -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#our-team -->*@


<!--Our Partner Start-->
<!--<div class="content-section templatemo_partner section6" id="templatemo_partners">
    <div class="partnerWrap">
        <div class="slideshow"
             data-cycle-fx=carousel
             data-cycle-timeout=1500
             data-cycle-carousel-visible=4
             data-cycle-next="#next"
             data-cycle-prev="#prev"
             data-cycle-carousel-fluid=true>
            <img id="ParentAgent" alt="Parent Agent" src="/images/partners/Parent_Agent.png">-->
@*class="hover"*@
<!--<img id="" alt="partner 2" src="/images/partners/notBeingUsed/partner2.jpg">
<img id="" alt="partner 3" src="/images/partners/notBeingUsed/partner3.jpg">
<img id="" alt="partner 4" src="/images/partners/notBeingUsed/partner4.jpg">-->
@*<img alt="partner 5" src="/images/partners/notBeingUsed/partner5.jpg">
    <img alt="partner 6" src="/images/partners/notBeingUsed/partner6.jpg">
    <img alt="partner 7" src="/images/partners/notBeingUsed/partner7.jpg">
    <img alt="partner 8" src="/images/partners/notBeingUsed/partner8.jpg">*@
<!--</div>
        <a href="#" id="prev">&lt;&lt; Prev </a>
        <a href="#" id="next"> Next &gt;&gt; </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <span>Quiere ser socio?  Mandenos un mensaje a <u>Admin@DFWAirConditioningExperts.com</u></span>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>-->
<!--Our Partner End-->


<div class="content-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                @*<h2>Contacto</h2>
                <p>Mandenos un mensaje</p>*@
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="heading-section col-md-7 col-sm-6">
                <p>
                    Tiene preguntas o quiere hacer una cita?  Mandenos un mensaje o llamenos 24 horas al dia (por el Formulario de Contacto, mensaje instantáneo, mensaje de texto, correo electronico, o llamenos).
                </p>
                <ul class="contact-info">
                    <li>
                        <b>Telefono</b>: <a href="tel:+14694764464">(469) 476-4464</a>
                    </li>
                    <li><b>Correo Electronico</b>: <a href="mailto:support@DFWAirConditioningExperts.com">Support@DFWAirConditioningExperts.com</a></li>
                </ul>
                <!-- spacing for mobile viewing --><br><br>
            </div> <!-- /.col-md-7 -->
            <div class="col-md-5 col-sm-6">
                <div class="contact-form">
                    @*<form method="post" name="contactform" id="contactform">*@
                    <form name="sentMessage" id="contactForm" novalidate>
                        @*novalidate*@
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Nombre Completo" class="form-control" id="name" required data-validation-required-message="Por favor escriba su Nombre Completo">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <select placeholder="Metodo Preferido de Contacto" class="form-control" id="preferredmethod" required data-validation-required-message="Por favor escoja su Metodo Preferido de Contacto">
                                    <option value="">Metodo Preferido de Contacto</option>
                                    <option value="Mensaje de Texto">Mensaje de Texto</option>
                                    <option value="Llamada">Llamada</option>
                                    <option value="Correo Electronico">Correo Electronico</option>
                                </select>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Telefono" class="form-control" id="phone" required data-validation-required-message="Por favor escriba su Telefono">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Correo Electronico" class="form-control" id="email" required data-validation-required-message="Por Favor escriba su Correo Electronico">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <textarea rows="5" cols="100" placeholder="Mensaje" class="form-control" id="message" required data-validation-required-message="Por favor escriba su Mensaje" maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div id="success"></div>
                        <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary js-btn-hover" id="sendMessageButton">ENVIAR MENSAJE</button>
                    </form>
                </div> <!-- /.contact-form -->
            </div> <!-- /.col-md-5 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#contact -->


<footer class="">
    <div id="template_footer">
        <div class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col">
                        @*col-lg-3 col-md-6 col-sm-6*@
                        <h5 class="headin5_amrc col_white_amrc pt2">Apoyamos Nuestra Comunidad</h5>
                        <!--headin5_amrc-->
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            5% de ganancias son donadas a los necesitados cada a&ntilde;o.  Tenemos que ayudarnos uno a otro.
                        </p>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Nomas contratramos a tecnicos con alta moralidad.  Los tratamos y les pagamos bien.
                        </p>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Valoramos mucho a nuestros clientes y tenemos un enfoque centrado en el cliente.  Nunca los precionamos.  Diferente a otras compa&ntilde;ias, no tenemos grupos de Ventas, cuyas metas son de subir los precio de los servicios y maquinaria.
                        </p>

                        <ul class="footer-social">
                            <li><a class="yelp hb-xs-margin" href="https://www.yelp.com/biz/dfw-air-conditioning-experts-arlington"><span class="hb hb-xs spin hb-yelp"><i class="fa fa-yelp" aria-hidden="true"></i></span></a></li>
                            <li><a class="google hb-xs-margin" href="https://g.page/dfw-air-conditioning-experts"><span class="hb hb-xs spin hb-google"><i class="fa fa-google" aria-hidden="true"></i></span></a></li>
                            <li><a class="facebook hb-xs-margin" href="https://www.facebook.com/DFW-Air-Conditioning-Experts-102664111752057"><span class="hb hb-xs spin hb-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                            <li><a class="instagram hb-xs-margin" href="https://www.instagram.com/dfwairconditioningexperts/"><span class="hb hb-xs spin hb-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                            <li><a class="twitter hb-xs-margin" href="https://twitter.com/air_dfw"><span class="hb hb-xs spin hb-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col">
                        <!-- MANUFACTURERS -->
                        <h5 class="headin5_amrc col_white_amrc pt2">
                            Fabricantes y Suministros de Confianza
                        </h5>
                        <ul class="footer_ul_amrc">
                            <li><a href="https://www.goodmanmfg.com/products/air-conditioners"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Goodman</a></li>
                            <li><a href="https://www.rheem.com/products/residential/heating-and-cooling/air_conditioners/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Rheem</a></li>
                            <li><a href="https://www.homedepot.com/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Home Depot</a></li>
                            <li><a href="https://www.lowes.com/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Lowes</a></li>
                        </ul>
                        <!-- end of MANUFACTURERS -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col">
                        <!-- CONTACT -->
                        @*<h5 class="headin5_amrc col_white_amrc pt2">Contacto</h5>
                            <p class="mb10 top-menu">
                                Mandenos un mensaje -> <a href="#contact">Contacto</a>
                            </p>*@
                        @*<p class="mb10">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>Telefono: 469-441-8783
                            </p>
                            <p class="mb10">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>Correo Electronico: <a href="mailto:support@DFWAirConditioningExperts.com">Support@DFWAirConditioningExperts.com</a>
                            </p>*@
                        <!-- end of CONTACT -->
                        <!-- HIRING -->
                        <h5 class="headin5_amrc col_white_amrc pt2">Carreras/Trabajos</h5>
                        <p class="mb10">
                            Busca trabajo con gran ambiente? Mandenos un mensaje o mensaje instantáneo!
                            @*Mande su currículum a <a href="mailto:admin@DFWAirConditioningExperts.com">Admin@DFWAirConditioningExperts.com</a>*@
                        </p>
                        <!-- end of HIRING -->
                        @*col-lg-3 col-md-6 col-sm-6*@
                        <!--<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>-->
                        <!--headin5_amrc-->
                        <!--<ul class="footer_ul_amrc">
                            <li><a href="/Dashboard/Index"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Dashboard</a></li>
                            <li><a href="/Account/Login"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Parent Login</a></li>
                            <li><a href="/Home/Contact"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Contact Us</a></li>
                            <li><a href="/Account/Login"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Staff Login</a></li>
                        </ul>-->
                        <!--footer_ul_amrc ends here-->
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="copyright text-center">
                    Todos Los Derechos Reservados. &copy; 2021 - Diseño Por <a href="https://www.facebook.com/longhorngraduate">Love Each Other Designs</a>
                </p>
            </div>
        </div>
    </div>
</footer>
@*<div id="afterfooter" class="col-lg-12" style="margin:100px;">&nbsp;</div>*@


@section Scripts {

    @*<script>window.jQuery || document.write('<script src="/Scripts/jquery-1.11.0.min.js"><\/script>')</script>*@

    <script type="text/javascript">
        //------------------------------ OnLoad ------------------------------
        $(function () {
            // ---------- CAROUSEL ----------
            //https://codepen.io/tavo1987/pen/ypNaVE
            const slider = tns({
                container: '.my-slider',
                mode: "carousel",//gallery
                loop: false,
                rewind: true,
                items: 1,
                slideBy: 1,
                //slideCount: 1,
                //controlsPosition: "bottom",
                controlsContainer: "#customize-controls",
                nav: false,
                autoplay: false,
                speed: 1200,
                autoplayButtonOutput: false,
                autoplayHoverPause: true,
                mouseDrag: true,
                lazyload: true,
                responsive: {
                    640: {
                        items: 2,
                    },

                    768: {
                        items: 3,
                    }
                }
            });

            //var slider = tns({
            //    container: '.my-slider',
            //    items: 2,
            //    slideBy: 'page',
            //    autoplay: true,
            //    autoWidth: false,
            //    autoHeight: true,
            //    responsive: {
            //        640: {
            //            edgePadding: 20,
            //            gutter: 20,
            //            items: 2,
            //            autoWidth: false,
            //            autoHeight: true
            //        },
            //        700: {
            //            gutter: 30,
            //            autoWidth: false,
            //            autoHeight: true
            //        },
            //        900: {
            //            items: 3,
            //            autoWidth: false,
            //            autoHeight: true
            //        }
            //    }
            //});

            //slider.updateSliderHeight();
            // ---------- end of CAROUSEL ----------


            // ---------- CUSTOM ----------
            //$(function () {
            doResizes();

            $(window).resize(function () {
                doResizes();
            });

            function doResizes() {
                var docWidth = $(document).width();

                if (424 <= docWidth && docWidth < 491) {
                    $('#companyname').removeClass("fontsizedot98");
                    $('#companyname').removeClass("fontsizedot84");
                    $('#companyname').addClass("fontsize1dot3");
                }
                else if (353 <= docWidth && docWidth < 424) {
                    $('#companyname').removeClass("fontsize1dot3");
                    $('#companyname').removeClass("fontsizedot84");
                    $('#companyname').addClass("fontsizedot98");
                }
                else if (docWidth < 353) {
                    $('#companyname').removeClass("fontsize1dot3");
                    $('#companyname').removeClass("fontsizedot98");
                    $('#companyname').addClass("fontsizedot84");
                }
                else {
                    $('#companyname').removeClass("fontsizedot84");
                    $('#companyname').removeClass("fontsizedot98");
                    $('#companyname').removeClass("fontsize1dot3");
                }
            }
            // ---------- end of CUSTOM ----------

            // ---------- LAZY Loading ----------
            //var fadeInTime = 750;

            //$('.lazy').lazy({
            //    //delay: 500,
            //    threshold: -100,
            //    scrollDirection: 'both',//'vertical',
            //    effect: 'fadeIn', //fadeIn
            //    effectTime: fadeInTime,
            //    visibleOnly: true,
            //    onError: function (element) {
            //        console.log('error loading ' + element.data('src'));
            //    },
            //    customLoader_footer: function (element) {
            //        $('#afterfooter').hide();

            //        var inner = $(".inner", element);
            //        inner.hide();
            //        inner.html($('#template_footer').html()).fadeIn(fadeInTime);
            //        //element.hide();
            //        //element.html($('#template_announcement').html()).fadeIn(2000);
            //    }
            //    //asyncLoader: function (element, response) {
            //    //    setTimeout(function () {
            //    //        //element.html('element handled by "asyncLoader"');
            //    //        response(true);
            //    //    }, 1000);
            //    //}
            //});
            // ---------- end of LAZY Loading ----------

            // ---------- SEND EMAIL ----------
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function ($form, event) {
                    event.preventDefault();

                    $this = $('#sendMessageButton');
                    $this.prop('disabled', true);

                    //var form_data = $("#contactForm").serialize();
                    var postdata = {
                        name: $("#name").val(),
                        preferredmethod: $("#preferredmethod").val(),
                        phone: $("#phone").val(),
                        email: $("#email").val(),
                        message: $("#message").val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Home/Send",
                        data: postdata,
                        success: function (retval) {
                            if (retval == "OK") {
                                $('#success').html("<div class='alert alert-success'><strong>Su mensaje a sido enviado.</strong></div>");
                                $('#contactForm').trigger('reset');

                                toastr.success("Mensaje recibido!  Nos pondremos en contacto lo mas pronto posible.");
                            }
                            else {
                                $('#success').html("<div class='alert alert-danger'>There is an error.</div>");
                                toastr.error("Mensaje no enviado.  Por favor intente de nuevo.");
                            }
                        },
                        error: function (retval) {
                            $('#success').html("<div class='alert alert-danger'>There is an error.</div>");
                            toastr.error("Mensaje no enviado.  Por favor intente de nuevo.");
                        },
                        complete: function () {
                            setTimeout(function () {
                                $this.prop("disabled", false);
                                $('#success').html('');
                            }, 5000);
                        }
                    });

                }
            });
            // ---------- end of SEND EMAIL ----------

        });
                                                                                                //This is how this lazy loading library should be used:
                                                                                                //<!--load images the lazy way-->
                                                                                                //<img class="lazy" data-src="/images/student_laptop.jpg" />
                                                                                                //<!--load background images of other element types-->
                                                                                                //<div class="lazy" style="width:500px; height:500px" data-src="/images/student_laptop.jpg"></div>
                                                                                                //------------------------------ end of OnLoad ------------------------------

    </script>
}
