
<div class="site-main" id="sTop">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social-icons">
                        <li><a class="yelp hb-xs-margin" href="https://www.yelp.com/biz/dfw-air-conditioning-experts-arlington"><span class="hb hb-xs spin hb-yelp"><i class="fa fa-yelp" aria-hidden="true"></i></span></a></li>
                        <li><a class="google hb-xs-margin" href="https://g.page/dfw-air-conditioning-experts"><span class="hb hb-xs spin hb-google"><i class="fa fa-google" aria-hidden="true"></i></span></a></li>
                        <li><a class="facebook hb-xs-margin" href="https://www.facebook.com/DFW-Air-Conditioning-Experts-102664111752057"><span class="hb hb-xs spin hb-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                        <li><a class="instagram hb-xs-margin" href="https://www.instagram.com/dfwairconditioningexperts/"><span class="hb hb-xs spin hb-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                        <li><a class="twitter hb-xs-margin" href="https://twitter.com/air_dfw"><span class="hb hb-xs spin hb-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="container">
                <div id="menu-wrapper">
                    <div class="row">
                        <div class="logo-wrapper col-md-2 col-sm-2">
                            <h1>
                                <a href="#" id="companyname" class="fancyFont">
                                    DFW&nbsp;Air&nbsp;Conditioning&nbsp;Experts
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-10 col-sm-10 main-menu text-right">
                            <div class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></div>
                            <ul class="menu-first">
                                <li class="active"><a href="Index">Home</a></li>
                                <li><a href="Index#contact">Contact Us</a></li>
                                <li><a id="callnow" onclick="window.open('tel:2143029103');" href="#contact">(214) 302-9103</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-slider">
        <div class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="overlay"></div>
                        <img src="/images/headerslider/ACRepair_Installation_5.png" alt="Air Conditioning Repair Service">
                        <div class="slider-caption visible-md visible-lg top-menu">
                            <h2>
                                15% Off Promo Code
                            </h2>
                            <p>Download Your Promo Code Today!</p>
                            <a href="#promocode" class="slider-btn">Free Download</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="content-section" id="promocode">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Free Download</h2>
                <p>
                    Sign up now and get access to your <strong>15% Off Promo Code</strong>!
                </p>
                <br />
                <p>
                    Our prices are extremely low but here's a token of our appreciation. We’re so lucky to have customers like you!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="promocode-form">
                    <form name="sentMessage" id="promocodeForm" novalidate>
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Full Name" class="form-control" id="name" required data-validation-required-message="Please enter your Full Name">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <select placeholder="Preferred Method of Contact" class="form-control" id="preferredmethod" required data-validation-required-message="Please choose your Preferred Method of Contact">
                                    <option value="">Preferred Method of Contact</option>
                                    <option value="Text Message">Text Message</option>
                                    <option value="Phone Call">Phone Call</option>
                                    <option value="Email">Email</option>
                                </select>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Phone" class="form-control" id="phone" required data-validation-required-message="Please enter your Phone">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <input type="text" placeholder="Email" class="form-control" id="email" required data-validation-required-message="Please enter your Email">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <textarea rows="5" cols="100" placeholder="Message" class="form-control" id="message" required data-validation-required-message="Please enter your Message" maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-primary js-btn-hover" id="sendMessageButton">DOWNLOAD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>


<footer>
    <div id="template_footer">
        <div class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">We Support Our Community</h5>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            5% of profits are donated yearly to the needy.  We only live once so do the right thing.  Let's help each other out.
                        </p>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            We only hire technicians with high morals.  They are compensated well in return.
                        </p>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            We highly value our customers and have a <b>Customer Focused</b> approach with <b>No Pressure</b> tactics.  Unlike big businesses in this industry, we do not believe in having a Sales group, whose goals are to increase the prices of services and equipment.
                        </p>
                        <p class="mb10">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Versión en Español <a href="AireAcondicionadoReparacion">oprima aqui</a>.
                        </p>

                        <ul class="footer-social">
                            <li><a class="yelp hb-xs-margin" href="https://www.yelp.com/biz/dfw-air-conditioning-experts-arlington"><span class="hb hb-xs spin hb-yelp"><i class="fa fa-yelp" aria-hidden="true"></i></span></a></li>
                            <li><a class="google hb-xs-margin" href="https://g.page/dfw-air-conditioning-experts"><span class="hb hb-xs spin hb-google"><i class="fa fa-google" aria-hidden="true"></i></span></a></li>
                            <li><a class="facebook hb-xs-margin" href="https://www.facebook.com/DFW-Air-Conditioning-Experts-102664111752057"><span class="hb hb-xs spin hb-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                            <li><a class="instagram hb-xs-margin" href="https://www.instagram.com/dfwairconditioningexperts/"><span class="hb hb-xs spin hb-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                            <li><a class="twitter hb-xs-margin" href="https://twitter.com/air_dfw"><span class="hb hb-xs spin hb-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Reliable Manufacturers and Suppliers</h5>
                        <ul class="footer_ul_amrc">
                            <li><a href="https://www.goodmanmfg.com/products/air-conditioners"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Goodman</a></li>
                            <li><a href="https://www.rheem.com/products/residential/heating-and-cooling/air_conditioners/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Rheem</a></li>
                            <li><a href="https://www.homedepot.com/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Home Depot</a></li>
                            <li><a href="https://www.lowes.com/"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Lowes</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Careers/Jobs</h5>
                        <p class="mb10">
                            Looking for a great work environment? Send us a message or IM!
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="copyright text-center">
                    All Rights Reserved. &copy; 2021 - Design By <a href="https://www.facebook.com/longhorngraduate">Love Each Other Designs</a>
                </p>
            </div>
        </div>
    </div>
</footer>


@section Scripts {
    <script src="~/Scripts/first.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/promocode.js"></script>
}
